/*миксины*/
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin align-center{
    display: flex;
    align-items: center;
}
@mixin flex-s{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin main-hover{
        transform: translateY(-2.5px);
        transition: 0.5s ;

}
@mixin link{
    text-decoration: none  ;
    font-weight: bold ;
    color: $text-color;
    font-size: 25px;
    text-shadow: $shadow-text;
}